<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
<title>Welcome to chenxuan online disk !</title>
<style>
    body {
        width: 40em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to chenxuan online disk!</h1>
<p>this online disk run in cppweb</p>
<p>you can change password in passwd.txt,default passwd is 123456</p>
<p>mkdir button is to create dir(name of input)</p>
<p>delete button is to delete dir(must be empty) or file(name of input)</p>
<p>update button is to reload now page</p>
<p>back button is to last page</p>
<p>move button is to move file or dir</p>
<p>upload button is to send file to server(you have choose file before send)</p>
<p>default file storage in template dir</p>
<p>every login only can be 2 min,if you want to change,you must read 
route.h and change the default cookie live time(or you can ask me)</p>
<p>For documentation and support please refer to
<a href="https://gitee.com/chenxuan520/server-for-static-web.git">Official website</a>
and give issue to me. 
<br>
If you think this project is useful,you can giive it a star
<br>
author web 
<a href="http://chenxuanweb.top/">chenxuanweb</a>.</p>
<p>You can contact author by email 1607772321@qq.com</p>

<p><em>Thank you for using web server.</em></p>


</body></html>